* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url(img/bg0.svg);
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#container {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

#main {
    width: 35%;
    min-width: 330px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-bottom: 15px;
    margin-bottom: 70px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
}

.text-special {
    color: white;
    padding: 10px;
}

.text-special.header {
    font-size: 32px;
    padding-top: 50px;
}

.link {
    padding-top: 20px;
}

a:link {
    color: white;
    text-align: center;
}

a:visited {
    color: white;
}

a:hover {
    color: gray;
}

a:active {
    color: #3c42fa;
}

a {
    text-decoration: none;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-top: 2px solid;
    padding: 20px;
}

.contact_email {
    display: block;
    text-align: center;
    color: white;
}

/* MEDIA */

@media screen and (max-width: 1820px) {
    #main {
        min-width: 600px;
    }
}

@media screen and (max-width: 900px) {
    body {
        background-image: url("img/mobile1.svg");
        background-size: cover;
    }

    #main {
        min-width: 470px;
    }

    .text-special.header {
        padding-top: 30px;
    }

    .contact_email {
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    #main {
        min-width: 370px;
    }

    .text-special {
        font-size: 13px;
    }

    .text-special.header {
        font-size: 22px;
        padding-top: 20px;
    }

    .link {
        font-size: 13px;
        padding-top: 7px;
    }
}

@media screen and (max-width: 400px) {
    #main {
        min-width: 300px;
        margin-bottom: 50px;
    }

    .text-special.header {
        font-size: 20px;
    }

    .contact_email {
        font-size: 13px;
    }
}

@media screen and (max-width: 350px) {
    #main {
        margin-bottom: 0px;
    }

    .text-special {
        font-size: 11px;
    }

    .text-special.header {
        font-size: 15px;
        padding-top: 10px;
    }

    .link {
        font-size: 11px;
        padding-top: 3px;
    }

    #footer {
        padding: 13px;
    }

    .contact_email {
        font-size: 11px;
    }
}
