* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url(img/bg0.svg);
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#container {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

#main {
    padding-bottom: 15px;
    margin-bottom: 70px;
    width: 35%;
    border: 2px solid white;
    min-width: 330px;
    background-color: rgba(0, 0, 0, 0.5); /* black background with 50% opacity */
    color: white; /* white text */
}

.text-special {
    color: white;
    padding: 10px;
}

.text-special.header {
    font-size: 32px;
    padding-top: 50px;
}

.header img {
    margin: auto;
    display: block;
    height: 100px;
    width: 100px;
}

.header h1 {
    margin: auto;
    display: block;
    align-content: center;
}


.contact_email {
    display: block;
    text-align: center;
    color: white;
}

.link {
    padding-top: 20px;
}

a:link {
    color: white;
    text-align: center;
}

a:visited {
    color: white;
}

a:hover {
    color: gray;
}

a:active {
    color: #3c42fa;
}

a {
    text-decoration: none;
}

/*
.navbar1 {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
*/

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four links of equal widths */
    text-align: center;
}

.navbar a:hover {
    background-color: #000;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* black background with 50% opacity */
    color: white; /* white text */
    padding: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
}

@media screen and (max-width: 1820px) {
    #main {
        min-width: 600px;
    }
}

@media screen and (max-width: 700px) {
    body {
        background-image: url("img/mobile1.svg");
        background-size: cover;
    }

    #main {
        min-width: 470px;
    }

    .text-special.header {
        padding-top: 30px;
    }

    .centre-text {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    #main {
        min-width: 370px;
    }

    .text-special {
        font-size: 15px;
    }

    .text-special.header {
        padding-top: 20px;
        font-size: 25px;
    }

    .link {
        padding-top: 7px;
    }
}

@media screen and (max-width: 400px) {
    #main {
        min-width: 275px;
        margin-bottom: 90px;
    }

    .text-special {
        font-size: 14px;
    }

    .text-special.header {
        font-size: 25px;
    }

    .link {
        padding-top: 7px;
    }

    .contact_email {
        font-size: 13px;
    }
}
